{% extends "base.html" %}

{% block title %}Вы успешно вышли{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-3 col-sm-6 col-10">
        <div class="card">
            <div class="card-header">
                <h6 class="card-text text-center">Вы успешно вышли из аккаунта!</h6>
            </div>
            <div class="card-body">
                <a href="{% url 'login'%}">Нажмите, чтобы войти снова.</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}